/**
section style
General spacing component multiple modifiers for any application
e.g. <div class="section section--p-b-0">...</div>
**/
@import "./imports/_imports.scss";

.section {
  padding: var(--calculated-padding) var(--calculated-padding, 1rem);

  @media screen and (min-width: $bp-x-large-min) {
    padding: var(--calculated-padding-md) var(--calculated-padding, 1rem);
  }
}

.section--medium {
  padding: var(--calculated-padding-md) var(--calculated-padding, 1rem);

  @media screen and (min-width: $bp-x-large-min) {
    padding: var(--calculated-padding-l) var(--calculated-padding, 1rem);
  }
}

.section--large {
  padding: var(--calculated-padding-l) var(--calculated-padding, 1rem);

  @media screen and (min-width: $bp-x-large-min) {
    padding: var(--calculated-padding-xl) var(--calculated-padding, 1rem);
  }
}

.section--x-large {
  padding: var(--calculated-padding-xl) var(--calculated-padding, 1rem);

  @media screen and (min-width: $bp-x-large-min) {
    padding: var(--calculated-padding-xl) var(--calculated-padding, 1rem);
  }
}

/** Section Padding Bottom 0 **/
.section--p-b-0 {
  padding-bottom: 0;
}

/** Section Padding Top 0 **/
.section--p-t-0 {
  padding-top: 0;
}
