@import "./_layout.scss";
@import "./_grid.scss";
@import "./_section.scss";

html {font-size: clamp(1rem, 1.5vw, 2rem);}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li{
  list-style: "- ";
}

h1,h2,h3,h4,h5,h6,p,li {
  margin-bottom: 1em;
  line-height: 1.2;
}

.section {
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
  background: #eee;
}