@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import "./_layout.scss";
@import "./_grid.scss";
@import "./_section.scss";

// :root{
//   --calculated-padding:10px;
//   --calculated-padding-md:20px;
//   --calculated-padding-l:20px;
//   --calculated-padding-xl:40px;
//   --calculated-gutter:50px;
// }

html {
  font-size: clamp(1rem, 1.5vw, 2rem);
  background: #161618;
  color: white;
}

.show.section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: scroll;
  width: 100%;
  z-index: 2;
  background: var(--color-black);
  display: none;
  padding: var(--spacing-medium);
}

form {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form label {
  display: block;
  font-size: 0.5em;
  margin-bottom: 1em;
  flex-basis: 1 1 20%;
}

form input {
  display: block;
  margin: 0.8em 0 1.2em;
  padding: 1em;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  border: 0;
  color: white;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: "- ";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin-bottom: 1em;
  line-height: 1.2;
  font-family: inherit;
}

.section {
  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius-large);
  font-family: var(--font-sans);
}
